@font-face {
    font-family: 'Terbeous-Regular';
    src: url('../style/fonts/Terbeous-Regular.ttf');
    src: url('../style/fonts/Terbeous-Regular.otf');
}

.tenebris {
    font-family: 'Terbeous-Regular';
}

body{
    margin: 1.5rem;
    
}

@media only screen and (min-width: 650px) {

.div-text{
    display: flex;
    justify-content: center;
}

textarea{
    height: 400px;
}
}

.div-box{
    max-width: 800px;
    margin: auto;
}

textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: .75rem;

    max-width: 600px;
    min-width: 320px;

    max-height: 600px;
    min-height: 200px;
    resize: none;
}



textarea:hover{
    background-color: rgb(247, 247, 247);  
    border: 1px, solid, black;  
}

textarea{
    font-size: 2.3em;
}

textarea::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 2rem;
}

.link-bold{
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
}