@font-face {
    font-family: 'Terbeous-Regular';
    src: url('../style/fonts/Terbeous-Regular.ttf');
    src: url('../style/fonts/Terbeous-Regular.otf');
}

:root{
    --color1: #950101;
    --color2: #3D0000;
    --color3: #DE1D1D;
    --color4: #ACACAC;
    --color5: #2e0101;
}

.head{
    width: 1000px;
    height: 75px;
    background: var(--color1);
    background: linear-gradient(180deg, var(--color1) 0%, var(--color2) 100%);
    font-size: 2.5rem;
}

#textOutput {
    font-family: 'Terbeous-Regular';
}

body{
    margin: 0;
    background-color: black;
    background-image: url(../assets/FOGO.gif);
    background-attachment: fixed;
    background-size: cover;    
}

@media only screen and (max-width:649px){

body{
    width: 390px;
}

.TUDO{
    align-items: center;
}

.head, .agradecimento{
    max-width: 390px;
    min-width: 320px;
    height: 150px;
}

#textInput, #textOutput{
    height: 10.5em;
    width: 90%;
}
.caixas{
    margin-left: .5%;
}

.div-text{    
    width: 100%;
    padding-bottom: 1%;
}

.centraliza{
    padding-top: 1%;
    padding-left: 1%;
    color: var(--color4);
}


}

@media only screen and (min-width: 650px) {


.div-text{
    display: flex;
    justify-content: space-between;
}

.caixas{
    height: 400px;
    margin-left: 18%;
}

}

.div-text{
    max-width: 1000px;
    min-height: 400px;
    max-height: 800px;
    background: rgba(0, 0, 0, 0.363);
    
}

.caixas{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: var(--color4);
    border: 1px solir var(--color2);
    border-radius: .75rem;
    background-color: var(--color2);
    border-color: var(--color5);
    word-break:break-word;
    overflow: hidden;

    max-width: 430px;
    height: 375px;
    
    margin: 2.5%;

    font-size: 2.3em;

    resize: none;
}

textarea:hover{
    background-color: var(--color5);  
    border: 1px, solid, var(--color5);  
}

textarea::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color4);
}

.link-bold{
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
}

footer{
    width: 1000px;
    height: 75px;
    background: var(--color1);
    background: linear-gradient(180deg, var(--color2) 0%, var(--color1) 100%);
    font-size: 2.5rem;
}

body{
    display: flex;
    justify-content: center;
}

p{
    margin: 0;
}

.centraliza{
    padding-top: 1.5%;
    padding-left: 1.5%;
    color: var(--color4);
}

.link-bold:hover{
    color: var(--color1);
    text-shadow: 0 0 10px #000;
}